.moduleDiv {
  display: inline-block;
  border: solid rgb(184, 182, 182) 1px;
  border-radius: 5px;
  padding: 10px;

  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);

  background-color: azure;

  font-size: medium;

  max-width: 30%;
}

.moduleInfo {
  font-size: small;
}

.moduleStatus {
  font-size: medium;
  color: rgb(5, 39, 5);
}

a {
  text-decoration: none;
}
