.mainAddDrop {
  padding: 5px;
}


#alreadyInInventoryContainer{
  display: hidden;
}

#newItemsTable{
  max-height: 300px;
}

#addDropBody{
  background: rgba(59, 44, 92, 0.2);
}

#DownloadButton{
  cursor: pointer;
  font-weight: bold;
}
#DownloadButton:hover{
  text-shadow: 
    0 0 10px #00f, /* Blue glow */
    
}


