#coreSetInfo {
}

#coreSetsHeader {
  font-size: larger;
}

#statusInfo {
  border: solid green 1px;
}

#selectFileMenuButton {
  background: black;
  color: white;
}

#coreSetsTable {
  height: 300px;
}

.navButton {
  position: relative;
  cursor: pointer;
  border: solid black 2px;
  display: inline-block;
  color: rgb(27, 27, 68);
  padding: 5px;
  background: darkgrey;

  margin-top: 10px;
  margin-bottom: 10px;

  -webkit-app-region: no-drag;
}

.navButton:hover {
  filter: invert(1);
}
