{
  "presets": [
    "@babel/preset-typescript",
    [
      "@babel/preset-env",
      {
        "modules": "auto", // Use "auto" to dynamically select module system
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-class-properties",
    "@babel/plugin-transform-object-rest-spread",
    "@babel/plugin-syntax-import-assertions",
    "@babel/plugin-transform-modules-commonjs"
  ]
}
