.tabulator-frozen {
  color: rgb(44, 13, 128);
}

.toolbar-button {
  height: 14px;
  line-height: 14px;
  display: inline-block;
  background: rgb(116, 102, 116);
  cursor: pointer;
  border: solid rgb(95, 61, 96) 2px;
  padding: 2px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-left: 3px;
  border-radius: 3px;
  color: white;
}

.toolbar-button:hover {
  background: white;
  color: black;
}

.toolbar {
  display: block;
  position: absolute;
  bottom: 25px;
  right: 25px;
  height: 26px;
  text-align: left;
  cursor: default;
  z-index: 40000;
  opacity: 0.3;
}

.toolbar:hover {
  opacity: 1;
}

#inventoryTable {
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
}
