<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      http-equiv="Content-Security-Policy"
      content="script-src 'self' 'unsafe-inline'"
    />
    <title>Add/Drop</title>
  </head>
  <body id="addDropBody">
    <div id="root"></div>

    <div class="mainAddDrop">
      <div class="newItems">
        <h3><span id="numberOfNewItems"></span> New Items:</h3>
        <div id="newItemsTable"></div>
        <div id="alreadyInInventoryContainer">
        </div>
      
        
      </div>
      <div class="attributeChanges">
        <h3>Attribute Changes</h3>
        <div id="changeItemsTable"></div>
       <span id="DownloadButton"> Download Price and Costs</span>
      </div>
     
    </div>
  </body>
</html>




