<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      http-equiv="Content-Security-Policy"
      content="script-src 'self' 'unsafe-inline'"
    />
    <title>Add/Drop</title>
  </head>
  <body>
    <div id="root"></div>

    <div class="mainAddDrop">
      <div class="newItems">
        <h1>New Items</h1>

        New Item Entries: <span onclick=""" id="numberOfNewItems"></span>
         Link
      </div>
      <div class="attributeChanges">
        <h1>Price & Attribute Changes</h1>

        <a href="/priceUpdateInfo"> Price Changes: </a>
      </div>
      <div id="example-table"></div>
    </div>
  </body>
</html>
