.loading-animation-image-container {
    position: relative;
    top: 50vh;
    display: block;
    transform: translateY(-130px);
    width: 200px;
    margin: auto;
    overflow: hidden;

  }

  .pulsating {
    animation: pulsate 2s infinite; /* Adjust the duration as needed */
  }

  @keyframes pulsate {
    0% {
      opacity: 0.5;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0.5;
    }
  }